<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Test.TC_01_Verify_Guest_Able_To_Place_An_Order"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
